<%- include("parts/header") %>
    <%- include("parts/navbar") %>
        <div class="container text-center table-responsive">
            <br>
            <% if(successPayment.length !=0) {%>
                <div class="alert alert-success w-50 d-inline-block">
                    Payment successful
                </div>
                <% } %>
                    <% if(failPayment.length !=0) {%>
                        <div class="alert alert-danger w-50 d-inline-block">
                            Payment failed
                        </div>
                        <% } %>
                            <% if(products.length==0) {%>
                                <div class="alert alert-danger w-50 d-inline-block">
                                    There is no orders in the cart
                                </div>
                                <%}else {%>
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Cost</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Payment</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let product of products) {%>
                                                <tr>
                                                    <th scope="row">
                                                        <%= product.name %>
                                                    </th>
                                                    <td>
                                                        <%= product.amount %>
                                                    </td>
                                                    <td>
                                                        <%= product.amount * product.price %> $
                                                    </td>
                                                    <td>
                                                        <%= product.address %>
                                                    </td>
                                                    <td>
                                                        <%= product.status %>
                                                    </td>
                                                    <td>
                                                        <%= product.orderDate %>
                                                    </td>
                                                    <td>
                                                        <%= product.payment==false ? "Cash on delivery"
                                                            : "Done with paypal" %>
                                                    </td>
                                                    <td>
                                                        <form action="/cart/deleteOrder" method="POST">
                                                            <input type="hidden" name="cartId"
                                                                value="<%= product._id %>">
                                                            <input type="submit" value="Cancel" class="btn btn-danger">
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <form action="/cart/deleteAllUserOrders" method="POST">
                                                                <input type="hidden" name="userId"
                                                                    value="<%= userId %>">
                                                                <input type="submit" value="Cancel All"
                                                                    class="btn btn-danger">
                                                            </form>
                                                        </td>
                                                    </tr>
                                        </tbody>
                                    </table>
                                    <%} %>
        </div>
        <%- include("parts/footer") %>